fieldset{
    margin-left: 460px;
    margin-right: 40px;
    margin-top: 200px;
    height:auto;
    width: 500px;
    border-radius: 20px;
    color: white;
}
html{
    background: rgb(231,25,77);
    background: linear-gradient(90deg, rgba(231,25,77,1) 7%, rgba(2,0,36,1) 52%, rgba(255,0,119,1) 98%); 
}
