header {
    background: rgb(80,126,76);
background: linear-gradient(90deg, rgba(80,126,76,1) 1%, rgba(91,119,72,1) 100%);  

}
#logo{
    border-radius: 30px;
    width: 250px;
    height: 250px;
    
}
.titulo-principal{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-30%, -15%);
    font-size: 35px;
    font-family:'WrathStyles', sem serifa;
    color: aliceblue;

}

@font-face {
    font-family:'WrathStyles', sem serifa ;
    src: url(WrathStyles.ttf);
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

#logo1{
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(1,31,179,1) 35%, rgba(96,0,150,1) 100%);
    
    
}
.letra{
    color: aliceblue;
    text-align: center;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 5px 15px;

    width: 50%;
}

.checkbox{
    margin: 20px 0;
}
 
.enviar{
    width: 40%;
    padding: 15px 0;
    background: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer; 
}

.enviar:hover{
    background: blue;
    transform: scale(1.2);
}

.copyright{
    color: blueviolet;
    font-size: 13px;
    margin: 10px 0 0;
}

footer{
    text-align: center;
    background-image: url("bg.jpg");
    padding: 10px 0;
    background-color: black;
}