header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.produto1 {
    border: 1px solid black;
    display: inline-block;
    justify-content: space-between;
    gap: 4px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
    color: #000;
}
.produto2 {
    border: 1px solid black;
    display: inline-block;
    justify-content: space-between;
    gap: 4px;

    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
    color: #000;
}
.produto3 {
    border: 1px solid black;
    display: inline-block;
    justify-content: space-between;
    gap: 4px;

    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
    color: #000;









}

.produto img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

.produtos {
    border: 1px solid black;
}

. {

    border: 1px solid black;
    display: inline-block;
    justify-content: space-between;
    gap: 4px;
}